{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {% if validlink %}

<style>
    .footer {
        text-align: center;
        margin-top: 2rem;
        font-size: 0.9rem;
    }
</style>

</head>
<body>

    <div class="container">

        <form method="post">

            <h4>{% trans 'Restore password' %}</h4>
            <p>
                {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
            </p>

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-custom">{% trans 'Change Password' %}</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
        </div>

    {% endif %}

    <div class="footer">
        <span class="fs-4" style="color: #32CD32;">
            <i class="fa-solid fa-fire-flame-curved"></i>
        </span>
        <span class="fs-4 fw-bold text-dark">Kormo</span>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha512-Sct/LCTfkoqr7upmX9VZKEzXuRk5YulFoDTunGapYJdlCwA+Rl4RhgcPCLf7awTNLmIVrszTPNUFu4MSesep5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>

{% endblock %}
