{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

</head>
<body>
    <div class="container">
    <form method="post">

        <h4>{% trans 'Change password' %}</h4>

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Change' %}</button>

    </form>
    <div class="footer">
        <a href="{% url 'accounts:log_in' %}" class="text-links">{% trans 'Get Back to Log in.' %}</a>
        <br><br>
        <span class="fs-4" style="color: #32CD32;">
            <i class="fa-solid fa-fire-flame-curved"></i>
        </span>
        <span class="fs-4 fw-bold text-dark">Kormo</span>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha512-Sct/LCTfkoqr7upmX9VZKEzXuRk5YulFoDTunGapYJdlCwA+Rl4RhgcPCLf7awTNLmIVrszTPNUFu4MSesep5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>

{% endblock %}
